span {
    display: flex;
}

span section {
    flex-grow: 1;
}

p {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

#pTitle {
    font-weight: bold;
    font-size: 2rem;
}

button {
    background: transparent;
    border: none;
}

button:hover {
    border: 1px solid black;
}

img {
    max-height: 15px;
}