span {
    display: flex;
}

span section {
    flex-grow: 1;
}

p {
    margin: 0;
}

#pTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    background: transparent;
    border: none;
    border-radius: 5px;
    max-height: 2rem;
    padding: 0;
}

button:hover {
    background-color: red;
}

img {
    max-height: inherit;
    padding: 2px;
}